@import url('./responseFrame.css');

.urlInputWrapper{
    display: flex;   
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.33);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 248, 248);
}

#httpSecuryWrapper{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(232, 232, 232);
    padding: 8px;
    width: 72px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    font-style: italic;
    box-shadow: inset 0 0 12px 8px rgba(195, 47, 47, 0.25);
    transition: all 300ms ease-in-out;
}

#httpSecuryWrapper:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

#httpSecuryWrapper.HTTPSecure{
    box-shadow: inset 0 0 12px 8px rgba(101, 147, 101, 0.25);
}

#httpSecuryWrapper span {
    color: rgb(195, 47, 47);
}

#httpSecuryWrapper span.HTTPSecure {
    color: rgb(61, 128, 61);
}

.urlWrapper{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.33);
}

#urlInput{
    border: 0;
    background: transparent;
    font-size: 24px;
    margin-left: 3px;
    width: 100%;
}

#urlInput:focus{
    outline: 0;
}

#resetWrapper{
    display: none;
    height: 37px;
}

#resetWrapper.show {
    display: block;
}

#resetWrapper #resetBtn {
    height: 100%;
    box-shadow: var(--button-shadow);
    margin-left: 2px;
}

#resetWrapper #resetBtn img {
    height: 100%;
    transition: transform 0;
}

#resetWrapper #resetBtn img:hover {
    transform: rotateZ(-180deg);
    transition: transform 350ms ease-in;
}

.btnWrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btnWrapper button{
    width: 20rem;
    height: 3rem;
    font-size: 24px;
    font-weight: 700;
    box-shadow: var(--button-shadow);
}