.toastWrapper {
    position: absolute;
    padding: 0.9rem 2rem;
    top: -65px;
    right: 0;
    border: 1px solid red;
    max-height: 1024px;
    transition: max-height 450ms ease-in-out, padding 600ms ease-in-out;
}

.toastWrapper.fadeout{
    overflow: hidden;
    max-height: 0;
    padding: 0;
    border: 0;
}

.toastWrapper span, .toastWrapper div{
    transition: opacity 300ms ease-in-out;
    opacity: 1;
}

.toastWrapper.fadeout span, .toastWrapper.fadeout div {
    opacity: 0;
}


.toastText {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.toastWrapper.success {
    background-color: green;
}

.toastWrapper.warn {
    background-color: darkorange;
}

.toastWrapper.error {
    background-color: darkred;
}

.toastWrapper.success .toastText {
    color: lightgreen;
}
.toastWrapper.warn .toastText {
    color: lightyellow;
}
.toastWrapper.error .toastText {
    color: lightcoral;
}

.toastWrapper.success .closeBtnWrapper{
    border: 2px solid green;
}

.toastWrapper.warn .closeBtnWrapper{
    border: 2px solid green;
}

.toastWrapper.error .closeBtnWrapper{
    border: 2px solid red;
    background-color: darkred;
    color: lightcoral;
    box-shadow: inset 0 0 3px 4px rgba(255, 255, 255, 0.2);
}

.toastWrapper.error .closeBtnWrapper:hover{
    border: 2px solid rgb(253, 58, 58);
    background-color: rgb(170, 4, 4);
    
}

.closeBtnWrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    top: -6px;
    right: -6px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .toastWrapper {
        right: calc(calc(100vw - 1024px) / 2);
    }
}